1. For the given lists answer the below questions 
List1 = ['a','b','c']  
List2 = [1,2,3,4]

In [1]:
List1 = ['a','b','c']  
List2 = [1,2,3,4]

1.A. Repeat the elements present in list1 thrice
Output should be ['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [2]:
List1*3

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

1.B.Concat the elements present in list1 and list2

In [3]:
List1 + List2

['a', 'b', 'c', 1, 2, 3, 4]

1.C. Use list1, check whether character 'a' is present in the list

In [5]:
bool (List1.count('a'))

True

1.D. Check the length of list1

In [6]:
len(List1)

3

1.E. Using for loop iterate over the elements present in the list and print it

In [9]:
for i in List1:
    print(i)

a
b
c

2. Using the below tuple, answer the below questions
  Tuple1 = (11,4,21,4,115,6,13,51,4,16,77,8,17,17,876,89,8765,14,51,11,876,9,3456,4234)

In [10]:
Tuple1 = (11,4,21,4,115,6,13,51,4,16,77,8,17,17,876,89,8765,14,51,11,876,9,3456,4234)

2.A. Fetch the item in tuple with maximum value

In [11]:
max(Tuple1)

8765

2.B.  Fetch the item in tuple with minimum value

In [12]:
min(Tuple1)

4

2.C.Convert the string 'my string' to a tuple

In [13]:
string='my string'
tup=tuple(string)
tup

('m', 'y', ' ', 's', 't', 'r', 'i', 'n', 'g')

3. Use the below list and answer the below questions
           List = ['white','red', 'blue', 'green','blue','yellow', 'black']

In [14]:
     List = ['white','red', 'blue', 'green','blue','yellow', 'black']

3.A) Append 'C' to the list

In [17]:
List.append('C')
List

['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black', 'C']

3.B) Clear all the elements present in the list.

In [20]:
#List_Dup=List.copy()
#List_Dup
List.clear()
List

[]

3.C) Copy the list and store it in another variable.

In [21]:
List_Dup=List.copy()
List_Dup

['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black', 'C']

3. D) Count how many times 'blue' is present in the list

In [22]:
List_Dup.count('blue')

2

3.E) Append List1 = ['a', 'e', 'i', 'o', 'i', 'u','y','w','tre','ytre','uyt'] to the existing list

In [24]:
List1 = ['a', 'e', 'i', 'o', 'i', 'u','y','w','tre','ytre','uyt']
List_Dup.append(List1)
List_Dup

['white',
 'red',
 'blue',
 'green',
 'blue',
 'yellow',
 'black',
 'C',
 ['a', 'e', 'i', 'o', 'i', 'u', 'y', 'w', 'tre', 'ytre', 'uyt']]

3.F) Find the index position of 'red'

In [25]:
List_Dup.index('red')

1

3.G) Insert letter 'o' in index position 3

In [32]:
List_Dup.insert(3,'o')
List_Dup

['white',
 'red',
 'blue',
 'o',
 'green',
 'blue',
 'yellow',
 'black',
 'C',
 ['a', 'e', 'i', 'o', 'i', 'u', 'y', 'w', 'tre', 'ytre', 'uyt']]

3.H) Remove the list element present in index position 3

In [33]:
List_Dup.pop(3)
List_Dup

['white',
 'red',
 'blue',
 'green',
 'blue',
 'yellow',
 'black',
 'C',
 ['a', 'e', 'i', 'o', 'i', 'u', 'y', 'w', 'tre', 'ytre', 'uyt']]

3.I) Remove 'blue' from the list

In [34]:
List_Dup.remove('blue')
List_Dup

['white',
 'red',
 'green',
 'blue',
 'yellow',
 'black',
 'C',
 ['a', 'e', 'i', 'o', 'i', 'u', 'y', 'w', 'tre', 'ytre', 'uyt']]

3.j) Reverse all the elements present in the list

In [36]:
List_Dup.reverse()
List_Dup

[['a', 'e', 'i', 'o', 'i', 'u', 'y', 'w', 'tre', 'ytre', 'uyt'],
 'C',
 'black',
 'yellow',
 'blue',
 'green',
 'red',
 'white']

3.K) Sort the list in ascending order

In [39]:
x=sorted(List_Dup)
print(x)

TypeError: '<' not supported between instances of 'str' and 'list'

4. Use the below sets and perform union, intersection, difference and symmetric difference

        Set1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
        Set2 = {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}

In [41]:
Set1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
Set2 = {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}

Union:

In [42]:
Set1.union(Set2)

{1,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 45,
 54,
 56,
 57,
 65,
 88,
 436,
 467,
 678,
 876,
 887,
 6789,
 7654,
 8765,
 9876,
 87654,
 787654}

Intersection:

In [43]:
Set1.intersection(Set2)

{4, 5, 6, 7, 8, 9, 876}

Difference:

In [44]:
Set1.difference(Set2)

{1, 3, 54, 56, 436, 9876, 87654, 787654}

Symmetric difference:

In [45]:
Set1.symmetric_difference(Set2)

{1,
 3,
 45,
 54,
 56,
 57,
 65,
 88,
 436,
 467,
 678,
 887,
 6789,
 7654,
 8765,
 9876,
 87654,
 787654}

5. Use the given dictionary and answer the below questions

                            dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

In [46]:
dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

5.A) Wipe out all the items present in the dictionary

In [51]:
#z=dictionaries.copy()
#z
dictionaries.clear()
dictionaries

{}

5.B) Copy all the items present in the dictionary to create a new variable

In [52]:
z=dictionaries.copy()
z

{'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

5.C) How to get the output: {'a': None, 'o': None, 'e': None, 'u': None, 'i': None}

In [54]:
List_sample=['a','e','i','o','u']
Dictionary2=dict.fromkeys(List_sample)
print("Output :", str(Dictionary2))

Output : {'a': None, 'e': None, 'i': None, 'o': None, 'u': None}

5.D) Fetch all the items present in the dictionary

In [55]:
Dictionary2.items()

dict_items([('a', None), ('e', None), ('i', None), ('o', None), ('u', None)])

5.E) Fetch only the keys from the dictionary

In [56]:
Dictionary2.keys()

dict_keys(['a', 'e', 'i', 'o', 'u'])

5.F) Insert key 'Salary' with no value in the dictionary

In [62]:
Dictionary2.update({'Salary':''})
Dictionary2

{'a': None, 'e': None, 'i': None, 'o': None, 'u': None, 'Salary': ''}

5.G) Insert key-value 3: 'three' inside the dictionary

In [63]:
Dictionary2.update({3:'three'})
Dictionary2

{'a': None,
 'e': None,
 'i': None,
 'o': None,
 'u': None,
 'Salary': '',
 3: 'three'}

5.H)  Fetch only the values from the dictionary

In [64]:
Dictionary2.values()

dict_values([None, None, None, None, None, '', 'three'])

6. Store a number in a variable and check if that variable is equal to 10, If yes, print "Hello"

In [66]:
num=10
if num==10:
    print("hello")

hello

7. Store a number in a variable and check if that variable is equal to 10, If yes, print "Hello", else print "Good Bye"

In [67]:
num2=10
if num2==10:
    print("Hello")
else:
    print("Good Bye")

Hello

8. Get an integer input from user (age of the user), if the number is between 0 to 17 print 'You are a kid', if the number is between 18 to 35 print 'You are in the correct age category', if the number is above 36 print 'you  have crossed the age limit' and if the number is negative print 'enter a positive number'

In [73]:
age=int(input("Enter your age :"))
if age>=0 and age<=17:
    print("You are a kid")
elif age>=18 and age<=35:
    print("You are in the correct age category")
elif age>36:
    print("You have crossed age limit")
elif age<0:
    print("Enter a positive number")

Enter your age :34
You are in the correct age category